@import "../../app.scss";
.services {
  // background: linear-gradient(180deg, #0c0c1d, #111132);
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  position: relative; /* Ensure relative positioning for children */
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100vh; /* Set height to viewport height */
  overflow-y: auto;

  .textContainer {
    flex: 1;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;
      position: relative;
      top: 0;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 56px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 5px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
  .experiences {
    margin-top: 20px;
  
    .timeline {
      display: flex;
      flex-direction: column;
      padding: 10px;
  
      .experience-card {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;

        .left-content {
          flex: 0 0 auto;
          display: flex;
          width: 40%;
          // margin-right: 20px; /* Adjust spacing between image and text */
          align-items: center;
          justify-content: center;

          .company-logo {
            width: 45%;
            height: 40%;

            @include mobile {
              width: 100%;
              height: 20%;
            }
          }
        }

        .right-content {
          flex: 1;
          width: 60%;

          h1 {
            margin-top: 0;
            margin-bottom: 10px;
            color: orange;
            font-size: 30px;

            @include mobile {
              font-size: 14px;
            }
          }

          p {
            margin: 0;

            @include mobile {
              font-size: 10px;
            }
          }

          .edu-body{
            padding-bottom: 10px;
          }

          h3{
            @include mobile {
              font-size: 12px;
            }
          }
        }
  
        .experience-year {
          flex: 0 0 50px;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
        }
  
        img{
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }
  
        .experience-details {
          flex: 1;
        }
  
        h3 {
          margin-top: 0;
          margin-bottom: 10px;
        }
  
        p {
          margin: 0;
        }
      }
  
    }
  
  }
    
}
